/* styles.css (or any CSS file where you manage styles) */

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    width: 300px;
    height: 100px;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .card p {
    font-size: 1rem;
    color: #555555;
    line-height: 1.5;
  }
  
  .card img {
    max-width: 50%;
    border-radius: 8px;
    margin-top: 12px;
  }
  .show-more-link:hover {
    cursor: pointer;
  }
  .show-more-link {
    font-weight: bold;
  }

  .myCard {
    width: 600px;
    align-items: center;
  }